
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ma Chaîne de Télévision</title>
    <link rel="stylesheet" href="css/accueil.css"> <!-- Lien vers le fichier CSS -->
</head>
<body>
    <%- include("navbar"); %> <!-- inclure la navbar-->
    
    <section id="apropos">
        <h1>Bienvenue sur ma chaîne de télévision !</h1>
        <p>Notre chaîne TV vous propose une variété de programmes culturelles</p>
    </section>

     <!-- <img src="https://www.theatregaronne.com/sites/default/files/photos/deba-cfred-toulet-900.jpg" alt="image debat"> -->
    
</body>
</html>


