<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>À propos</title>
</head>
<body>
    <!-- inclusion de la navbar -->
    <%- include('navbar') %>  
    <h1>Bonjour À propos de notre chaîne TV nous proposont différent information de culture</h1>
    <p>Notre chaîne diffuse des vidéos culturelles...</p>

    <iframe width="410" height="340" src="https://www.youtube.com/embed/NBvUg8miviQ"></iframe>
    <iframe width="410" height="340" src="https://www.youtube.com/embed/taF-zNXw67U"></iframe>
    <iframe width="410" height="340" src="https://www.youtube.com/embed/6i-uNSK-hUw"></iframe>
    <iframe width="410" height="340" src="https://www.youtube.com/embed/jlSa8ok0G-M"></iframe>

    <%- include('footer') %> <!-- Inclus le footer -->
</body>
</html>