<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Ajouter un Programme TV</title>
</head>
<link rel="stylesheet" href="css/formulaire.css">
<body>
    <!-- inclusion de la navbar -->
    <%- include('navbar') %>
    <h1>Formulaire d'ajout de Programme</h1>

    <section id="formulaire">
        <h2>Contactez-nous</h2>
        <form>
            <label for="nom">Nom:</label>
            <input type="text" id="nom" name="nom" required>
            
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            
            <label for="message">Message:</label>
            <textarea id="message" name="message" required></textarea>
            
            <button type="submit">Envoyer</button>
        </form>
    </section>

    
    <%- include('footer') %>
</body>
</html> 
