<head>
    <link rel="stylesheet" href="css/navbar.css"> 
    </head>
    <div class="navbar">
    <a class="active" href=""></a>
    <a href="/accueil">Accueil</a>
    <a href="/programmeTv">Live</a>
    <a href="/formulaireProgrammeTv">programme TV</a>
    <a href="/apropos">À propos</a>
</div>
