<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Programmes TV</title>
    

</head>
<body>
    <!-- inclusion de la navbar -->
    <%- include('navbar') %>  

    <section id="programmetv">
        <h2>Programme TV</h2>
        <h1>Programmes de notre chaîne</h1>
    <p>Liste des programmes...</p>
        <ul>
            <li>20h00 -tradition: Maoulida</li>
            <li>21h00 - la music: mila neyi </li>
            <li>23h00 - tradition: Debat</li>
            <li>23h00 - tradition: Dahira</li>
            <li>23h00 - tradition: Moulidi</li>
        </ul>
    </section>

    
    <%- include('footer') %>
</body>
</html>
